@{
	ViewData["Title"] = "NotAuthorized";
}

<img class="img-fluid centered adjustable onVisible" src="~/images/forbiden.png" />
<h2 class="text-center">No estas autorizado para ejecutar esta acción!</h2>
