@model ToolWorkshop.Data.Entities.Movement

<div class="form-group">
    <label asp-for="Start_DateTime" class="control-label"></label>
    <input asp-for="Start_DateTime" class="form-control" />
    <span asp-validation-for="Start_DateTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="End_DateTime" class="control-label"></label>
    <input asp-for="End_DateTime" class="form-control" />
    <span asp-validation-for="End_DateTime" class="text-danger"></span>
</div>