@model ToolWorkshop.Data.Entities.Movement_Detail

<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <input asp-for="Remarks" class="form-control" />
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>